/* ALGEMEEN */
*{
    font-family: 'Arial', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    margin: 40px 0 0 0;
}

/* HEADER */
#header{
    background: rgb(0, 230, 0);
    height: 100vh;
    position: fixed;
}
#header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#header .container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
#header .container *{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header .container a{
    padding: 20px 15px;
    display: block;
    background: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgb(0, 200, 10) 50%,
    rgb(0, 200, 10));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background .5s ease-in-out;
}
#header .container a i{
    margin-right: 5px;
}
#header .container h1{
    font-size: 2em;
    margin: 20px 5px;
    padding: 0;
}
#header .container a:hover{
    background-position: 0 0;
}

/* MAIN */
.main{
    width: 100%;
    position: relative;
    text-align: center;
}

/* FOOTER */
#footer{
    width: 250px;
    right: 0;
    position: fixed;
    text-align: center;
    color: #000;
}
table {
    border-collapse: collapse;
    width: 95%;
    background: rgb(255, 255, 255);
}
td, th {
    min-width: 15px;
    text-align: left;
    border: 1px solid #cccccc
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
.name{
    width: 150px;
}
.header-userrank{
    margin: 60px 0 0 0;
}

/*===============================================CREATE TEAM PHP =================================================*/
i{
    color: #FF0000;
    margin-left: 10px;
}
.header-border{
    height: 100px;
    max-width: 1400px;
    width: 100%;
    border:2px solid black;
    margin: 20px 350px;
}
.input-border{
    height: auto;
    max-width: 1400px;
    width: 100%;
    border:2px solid black;
    margin: 20px 350px;
}
.input-border-txt{
    max-width: 300px;
    width: 100%;
    margin-top: -10px;
    margin-left: 10px;
    background: white;
}
.input-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.input-player{
    display: flex;
    flex-flow: column;
}
.input-player-block{
    max-width: 200px;
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid black;
}
.input-button{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 32px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 5px;
    -webkit-transition: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 75%;
}
.input-button:hover{
    background-color: #4CAF50;
    color: white;
}
.input-team-name[type=text] {
    width: 70%;
    padding: 16px 12px;
    margin: 60px 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-team-name[type=text]:focus {
    border: 3px solid #4CAF50;
}
.team-name{
    width: 100%;
    margin: 25px auto;
    font-size: 1.5em;
}
.red-x{
    margin-left: 15px;
    max-width: 20px;
    width: 100%;
    height: 20px;
}
