/* ALGEMEEN */
*{
    font-family: 'Arial', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* HEADER */
#header{
    background: rgb(0, 230, 0);
    height: 100vh;
    position: fixed;
}
#header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#header .container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
#header .container *{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header .container a{
    padding: 20px 15px;
    display: block;
    background: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgb(0, 200, 10) 50%,
    rgb(0, 200, 10));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background .5s ease-in-out;
}
#header .container a i{
    margin-right: 5px;
}
#header .container h1{
    font-size: 2em;
    margin: 20px 5px;
    padding: 0;
}
#header .container a:hover{
    background-position: 0 0;
}

/* MAIN */
.main{
    width: 50%;
    left: 15%;
    position: relative;
    text-align: center;
    margin: 0 250px;
}


/* RESULTATEN */
.part1{

display: flex;

justify-content:  center;

border:  1px black solid;

background-color: #ddffb6;

padding: 0 20px;

float:  left;

max-width: 430px;

width:  100%;
}

.deel1{
    margin-right: 15px;
}

.deel3{

    margin-left: 15px;
}

.deel1 h4{

padding-right: 100px;

border: black 1px solid;

background-color: #88ff00;
}

.deel2 h4{

padding: 0 20px;

border: black 1px solid;

background-color: #40a72c;
}

.deel3 h4{

padding-left:  100px;

border: black 1px solid;

background-color: #88ff00;
}

.part{
    display: grid;
}

.part2{

display: grid;

border:  1px black solid;

padding: 0 20px;

float:  left;

background-color: #ddffb6;

text-align:  left;

justify-content:  center;

margin-top: 5px;

max-width: 430px;

width: 100%;
}

.schema{

    display: flex;
}

.deel1-part2, .deel2-part2, .deel3-part2{

    border:  1px solid;

    padding: 0px 7px;

    padding-right: 60px;
}

#merk{

color: #3a7d24;
}