/* ALGEMEEN */
*{
    font-family: 'Arial', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    margin: 40px 0 0 0;
}

/* HEADER */
#header{
    background: rgb(0, 230, 0);
    height: 100vh;
    position: fixed;
}
#header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#header .container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
#header .container *{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header .container a{
    padding: 20px 15px;
    display: block;
    background: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgb(0, 200, 10) 50%,
    rgb(0, 200, 10));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background .5s ease-in-out;
}
#header .container a i{
    margin-right: 5px;
}
#header .container h1{
    font-size: 2em;
    margin: 20px 5px;
    padding: 0;
}
#header .container a:hover{
    background-position: 0 0;
}

/* MAIN */
.main{
    width: 70%;
    left: 15%;
    position: relative;
    text-align: center;
}

/* FOOTER */
#footer{
    width: 250px;
    right: 0;
    position: fixed;
    text-align: center;
    color: #000;
}
table {
    border-collapse: collapse;
    width: 95%;
    background: rgb(255, 255, 255);
}
td, th {
    min-width: 15px;
    text-align: left;
    border: 1px solid #cccccc
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
.name{
    width: 150px;
}
.header-userrank{
    margin: 60px 0 0 0;
}