/* ===========================================ALGEMEEN======================================== */
*{
    font-family: 'Arial', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    margin: 40px 0 0 0;
}
.header{
    display: flex;
    justify-content: center;
}

/* ==========================================HEADER============================================ */
#header{
    background: rgb(0, 230, 0);
    height: 100vh;
    position: fixed;
    z-index: 1;
}
#header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#header .container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
#header .container *{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header .container a{
    padding: 20px 15px;
    display: block;
    background: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgb(0, 200, 10) 50%,
    rgb(0, 200, 10));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background .5s ease-in-out;
}
#header .container a i{
    margin-right: 5px;
}
#header .container h1{
    font-size: 2em;
    margin: 20px 5px;
    padding: 0;
}
#header .container a:hover{
    background-position: 0 0;
}

/* ===================================MAIN =============================================*/
.main{
    width: 100%;
    position: relative;
    text-align: center;
}

/* ===============================================FOOTER =====================================*/
#footer{
    width: 15%;
    right: 0;
    position: fixed;
    text-align: center;
    color: #000;
    top: 0;
}
table {
    border-collapse: collapse;
    width: 95%;
    background: rgb(255, 255, 255);
}
td, th {
    min-width: 15px;
    text-align: left;
    border: 1px solid #cccccc
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
.name{
    width: 150px;
}
.header-userrank{
    margin: 60px 0 0 0;
}

/*===============================================CREATE TEAM PHP =================================================*/
i{
    color: #FF0000;
    margin-left: 10px;
}
.header-border{
    position: relative;
    height: 100px;
    width: 70%;
    border:2px solid black;
    margin: 20px 350px;
}
.input-border{
    position: absolute;
    height: auto;
    width: 70%;
    border:2px solid black;
    margin: 20px 350px;
}
.input-border-txt{
    max-width: 300px;
    width: 100%;
    margin-top: -10px;
    margin-left: 10px;
    background: white;
}
.input-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.input-player{
    display: flex;
    flex-flow: column;
}
.input-player-block{
    max-width: 200px;
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid black;
}
.input-button{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 32px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 5px;
    -webkit-transition: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 75%;
}
.input-button:hover{
    background-color: #4CAF50;
    color: white;
}
.input-team-name[type=text] {
    width: 70%;
    padding: 16px 12px;
    margin: 60px 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-team-name[type=text]:focus {
    border: 3px solid #4CAF50;
}
.team-name{
    width: 100%;
    margin: 25px auto;
    font-size: 1.5em;
}
.red-x{
    margin-left: 15px;
    max-width: 20px;
    width: 100%;
    height: 20px;
}


/* ==========================================RESULTATEN ===========================================*/
.header-border-result{
    position: relative;
    height: 100px;
    width: 60%;
    border: 2px solid black;
    margin: 20px 350px;
}

.team-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-roster{
    display: flex;
    justify-content:  center;
    border:  1px black solid;
    background-color: #ddffb6;
    padding: 20px;
    width:  50%;
}

.left-row{
    margin-right: 100px;
    width: 30%;
}

.right-row{
    margin-left: 100px;
    width: 30%;
}

.left-row h4{
    padding: 10px;
    border: black 1px solid;
    background-color: #88ff00;
}

.middle-row{
    width: 20%;
}

.middle-row h4{
    padding: 10px;
    border: black 1px solid;
    background-color: #40a72c;
}

.right-row h4{
    padding: 10px;
    border: black 1px solid;
    background-color: #88ff00;
}

.time-scheme{
    border: 1px black solid;
    padding: 20px;
    float: left;
    background-color: #ddffb6;
    text-align: center;
    margin: 20px;
    width: 50%;
    position: relative;
}



.scheme{
    display: flex;
    justify-content: center;
}

.left-row-time, .middle-row-time, .right-row-time{
    border: 1px dashed #000;
    margin: 0 20px;
    padding: 0 50px;
}

.change-time{
    background-color: white;
    float: right;
    color: black;
    border: 2px solid #4CAF50;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 5px;
    -webkit-transition: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -18px;
}
.change-time:hover{
    background-color: #4CAF50;
    color: white;
}

/*============================ Index ============================ */

.main-content{
    display:  flex;
    justify-content:  space-around;
}

.border-finales{
    margin: 0 auto;
    border: 2px solid #000000;
    width: 70%;
    height: 800px;
    position: absolute;
    left: 350px;
    top: 155px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pouleresult-main{
    border: 2px solid #000;
    width: 80%;
    padding: 20px;
    margin: 30px;
    position: absolute;
    bottom: 0;
    left: 6%;
}

.poule-names{
    display: flex;
    justify-content: space-around;
}

.pouleresults{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.teams-left{
    margin-left: -80px;
}

.teams-score{
    margin: 15px auto;
    color: #01541b;
}

.word-pouleresult{
    margin-bottom: 0;
    color: #8d7d17;
}

.bracket-box{
    position: relative;
}

.left-bracket{
    position: absolute;
    left: 120px;
    top: 75px;
}

.right-bracket{
    position: absolute;
    right: 120px;
    top: 75px;
}
.border-line-top{
    position: absolute;
    top: 39px;
    left: 60px;
}

.border-line-bottom{
    position: absolute;
    bottom: 39px;
    left: 60px;
}

.border-line-top, .border-line-bottom, .border-line-middle, .border-line-middle-left, .border-line-middle-right{
    border: 1px solid green;
    height: 12.5%;
    width: 0;
    margin: 0 auto;
}

.left-teams-name, .right-teams-name, .left-teams-name-2nd, .right-teams-name-2nd, .middle-teams-name-left, .middle-teams-name-right{
    padding: 10px;
    border: 1px solid green;
    width: 100px;
}

.left-teams-name{
    margin: 35px auto;
}

.right-teams-name{
    margin: 35px auto;
}

.left-teams-name-2nd{
    margin: 100px auto;
    position: relative;
    top: -98px;
    left: 135px;
}
.right-teams-name-2nd{
    margin: 100px auto;
    position: relative;
    top: -98px;
    right: 257px;
}

.middle-teams-name-left{
    position: relative;
    top: 205px;
    left: -130px;
}

.middle-teams-name-right{
    position: relative;
    top: 149px;
    right: -130px;
}

.border-line-right{
    border-bottom: 2px solid green;
    width: 135px;
    position: absolute;
    top: 15px;
    left: 0;
}

.border-line-left{
    border-bottom: 2px solid green;
    width: 135px;
    position: absolute;
    top: 15px;
    right: 0;
}

.border-line-middle{
    position: absolute;
    bottom: 550px;
    left: 670px;
}
.border-line-middle-left{
    position: absolute;
    bottom: 507px;
    left: 375px;
}
.border-line-middle-right{
    position: absolute;
    bottom: 507px;
    left: 965px;
}
.winner-block{
    padding: 10px;
    border: 1px solid green;
    width: 100px;
    position: absolute;
    top: 10%;
}
/*==========================================INPUT RESULT ===================================*/
.header-border-invoer{
    position: relative;
    height: 100px;
    width: 60%;
    border:2px solid black;
    margin: 20px 350px;
}
.border-invoer{
    margin: 10px auto;
    border: 2px solid #000000;
    width: 60%;
    height: auto;
    left: 350px;
    top: 155px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time-scheme-input{
    border: 1px black solid;
    padding: 20px;
    float: left;
    background-color: #ddffb6;
    text-align: center;
    margin: 20px;
    width: 70%;
    position: relative;
}

.invoer-resultaten{
    border: 1px solid black;
    width: 80%;
    height: 100%;
    padding: 40px;
    margin: 20px;
}
.invoer-team-selecteren{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.invoer-team-selecteren select {
    width: 20%;
}

.resultaten-block{
    display:  flex;
    justify-content:  space-evenly;
}

.invoer-resultaten h2{
    border: 2px solid;
    padding: 21px 20px;
    font-size: 60px;
    color: #630000;
}

.invoer-scoorer{
    display:  flex;
    justify-content: space-evenly;
}

.invoer-scoorer-left select{
    margin-right: 5px;
}

.invoer-scoorer-left a{
    text-decoration:  none;
    color: white;
    border: 2px solid green;
    background-color: green;
    padding: 0px 5px;
}

.invoer-submit{
    margin-top: 30px;
}
.right-row-time p, .left-row-time p, .middle-row-time p{
    margin: 10px auto;
}
.btn {
    text-decoration: none;
    color: white;
    border: 2px solid green;
    background-color: green;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
}

/*==================================================EDIT TIME ===============================================*/
#submit-input-time{
    margin: 5px 5px;
    max-width: 20%;
}
.team-time input[type=text]{
    width: 100%;
}
input[type=text] {
    font-size: 14px;
    max-height: 33px;
    display: inline;
    margin: 0 5px 5px 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.scheme > div{
    width: 20%;
}
.scheme .right-row-time{
    width: 30%;
}
.right-row-time div{
    display: flex;
    justify-content: space-between;
}
.right-row-time .input-button{
    height: 33px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin: 0 5px;
}
.input-time[type=text]:focus {
    border: 3px solid #4CAF50;
}
.team-input, .input-button{
    margin: 0 5px 5px 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/*================================================== REGISTER ========================================================*/
#register{
    display: flex;
    justify-content: center;
}

#register .form{
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-top: 100px;
    padding-bottom: 20px;
    width: 25%;
}

#register .button{
    background-color: rgb(0,230,0);
    color: white;
    border: none;
    width: 17%;
    padding: 10px;
    margin-left: 91px;
}

#register .labels{
    display: flex;
    flex-direction: column;
}

#register .dnummer{
    margin-bottom: 10px;
    margin-right: 85px;
}

#register .voornaam{
    margin-bottom: 10px;
    margin-right: 82px;
}

#register .achternaam{
    margin-bottom: 10px;
    margin-right: 96px;
}

#register .wachtwoord{
    margin-bottom: 10px;
    margin-right: 98px;
}

.container h3{
    text-align: center;
}

/*==================================================== LOGIN =========================================================*/
#login{
    display:flex;
    justify-content: center;
}

#login .form{
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-top: 100px;
    padding-bottom: 20px;
    width:25%;
}

#login .button{
    background-color: rgb(0,230,0);
    color: white;
    border: none;
    width: 17%;
    padding: 10px;
    margin-left: 185px;
    margin-top: 12px;
}
#login .dnummer{
    margin-bottom: 10px;
}

#login .wachtwoord{
    margin-right: 12px;
}

.container h3{
    text-align: center;
}
