/* ALGEMEEN */
*{
    font-family: 'Arial', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* HEADER */
#header{
    background: rgb(0, 230, 0);
    height: 100vh;
    position: fixed;
}
#header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#header .container nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
#header .container *{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header .container a{
    padding: 20px 15px;
    display: block;
    background: linear-gradient(to left,
        transparent,
        transparent 50%,
        rgb(0, 200, 10) 50%,
        rgb(0, 200, 10));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: background .5s ease-in-out;
}
#header .container a i{
    margin-right: 5px;
}
#header .container h1{
    font-size: 2em;
    margin: 20px 5px;
    padding: 0;
}
#header .container a:hover{
    background-position: 0 0;
}

/* MAIN */
.main{
    width: 50%;
    left: 15%;
    position: relative;
    text-align: center;
    margin: 0 250px;
}


/*  Finales */

.delen{
    display: flex;
    justify-content:  space-between;
    padding-top: 50px;
}

.links-deel{
    display: flex;
}

.rechts-deel{
    display: flex;
}

.left-side {
    display: flex;
}

.left-side h3 {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #a3f5a3;
}

#win1{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #a3f5a3;
    display:  inline-table;
    margin-top: 85px;
}

.deel1-left-side {
}

.left-side img{
    height: 55px;
    margin-top: 24px;
    margin-left: 6px;
}

.deel2-left-side{

    margin-top: 19px;

    margin-left: 2px;
}


.right-side {
    display: flex;
}

.right-side h3 {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #a3f5a3;
}

.deel1-right-side {

    margin-left: 2px;
}

.right-side img{
    height: 55px;
    margin-top: 24px;
    margin-left: 2px;
}

.deel2-right-side{

    margin-top: 19px;

    margin-left: 2px;
}

#img2-left{

    height: 116px;

    width: 60px;

    margin-top: 43px;

    margin-left: 1px;
}

#img2-right{

    height: 116px;

    width: 60px;

    margin-top: 43px;

    margin-left: 1px;
}

#line-boven{
    
    height: 33px;
    
    width: 165px;
    
    position:  absolute;
    
    margin-left: 261px;
    
    margin-top: 51px;
}

#winner{
    
    border: 1px solid black;
    
    border-radius: 3px;
    
    background-color: #37c159;
    
    display: inline-table;
    
    padding: 4px 10px;
}